useDynLib(mlemur, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(reactable, reactable, reactableOutput, colDef, renderReactable)
importFrom(readxl, read_excel, excel_sheets)
importFrom(shinyjs, useShinyjs, show, hide, hidden, runjs, disable, disabled, enable)
importFrom(writexl, write_xlsx)
importFrom(clipr, write_clip)
importFrom(shinyFeedback, useShinyFeedback, showFeedback, hideFeedback, showToast, loadingButton, resetLoadingButton)
importFrom(shinyWidgets, awesomeRadio, awesomeCheckbox, updateAwesomeRadio, updateAwesomeCheckbox)
importFrom(shinyjqui, orderInput, updateOrderInput)
importFrom(stats, median, na.exclude, na.omit, p.adjust, pchisq, qchisq, sd, quantile, uniroot)
importFrom(utils, tail)
importFrom(boot, boot, boot.ci)
importFrom(Ryacas, yac_str, tex, yac_symbol)
import(shiny)
export(mlemur, rluria, mle.mutations, lrt.mutations, mle.rate, lrt.rate, drake.formula, lea.coulson.median, jones.median, p0, koch.quartiles, luria.delbruck.mean, mle.fold, power.est, sample.size)